.form {
  
  max-width: 600px; 
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  display: block; 
}

.formHeader {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
    text-align: center;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: larger;
}

.formGroup input[type="text"],
.formGroup input[type="file"],
.formGroup select,
.formGroup textarea {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* So the width includes padding */
  background-color: #6781a5;
  font-size: large;
}

.formGroup input[type="checkbox"] {
  margin-top: 5px;
}

.formGroup textarea {
  height: 100px;
}


